@use "../abstracts" as *;

.hero {
  padding-top: rem(320);
  text-align: center;
}

.hero__title {
  text-transform: uppercase;
  letter-spacing: 0.275em;
  font-size: rem(40);
}

.hero__title--pink {
  color: $desaturated-red;
  font-weight: 300;
}

.hero__description {
  margin: rem(16) 0;
  color: $desaturated-red;
}

.hero__form-control {
  position: relative;
  margin: rem(16) 0;
}

.hero__input-placeholder {
  position: absolute;
  top: rem(15);
  left: rem(24);
  opacity: 0.5;
  color: $desaturated-red;
}

.hero__input-email {
  display: block;
  border: rem(1) solid $desaturated-red;
  border-radius: 2em;
  background-color: transparent;
  padding: rem(24) rem(100) rem(24) rem(24);
  width: 100%;
  height: rem(48);
  font-size: 1em;
}

.hero__input-email:not(:placeholder-shown)
  ~ .hero__input-placeholder {
  opacity: 0;
}

.hero__input-email--error {
  border-color: $soft-red;
  background: url("../icons/icon-error.svg") right rem(72) center
    no-repeat;
}

.hero__submit-button {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  border-radius: 2em;
  box-shadow: 0 rem(15) rem(20) rgba(198, 110, 110, 0.25);
  background: $second-gradient no-repeat;
  padding: rem(15) rem(28);
  cursor: pointer;
}
