@use "../abstracts" as *;

.hero {
  margin-top: rem(320);
  text-align: center;@include breakpoint-up("tiny") {
    margin-top: rem(136);
    max-width: rem(460);
    text-align: left;
  }
}

.hero__title {
  text-transform: uppercase;
  letter-spacing: 0.275em;
  font-size: rem(40);@include breakpoint-up("tiny") {
    font-size: rem(64);
  }
}

.hero__title--pink {
  color: $desaturated-red;
  font-weight: 300;
}

.hero__description {
  margin: rem(16) 0;
  color: $desaturated-red;
}

.hero__form-control {
  position: relative;
  margin: rem(16) 0;@include breakpoint-up("tiny") {
    max-width: rem(440);
  }
}

.hero__input-placeholder {
  position: absolute;
  top: rem(17);
  left: rem(24);
  opacity: 0.5;
  color: $desaturated-red;
}

.hero__input-email {
  display: block;
  border: rem(1) solid $desaturated-red;
  border-radius: 2em;
  background-color: transparent;
  padding: rem(24) rem(100) rem(24) rem(24);
  width: 100%;
  height: rem(56);
  color: inherit;
  font-size: 1em;@include focus-visible($dark-red);@include breakpoint-up("tiny") {
    padding-right: rem(160);
  }
}

.hero__input-email:not(:placeholder-shown) ~ .hero__input-placeholder {
  opacity: 0;
}

.hero__input-email--error {
  border-color: $soft-red;
  background: url("../icons/icon-error.svg") right rem(72) center
  no-repeat;@include breakpoint-up("tiny") {
    background-position: right rem(120) center;
  }
}

.hero__submit-button {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  border-radius: 2em;
  box-shadow: 0 rem(15) rem(20) rgba(198, 110, 110, 0.25);
  background: linear-gradient(
  135deg,
  rgb(248, 191, 191),
  rgb(238, 139, 139)
  )
  no-repeat;
  cursor: pointer;
  padding: rem(19) rem(28);
  overflow: hidden;@include focus-visible($dark-red);@include breakpoint-up("tiny") {
    padding: rem(19) rem(46);
  }
}

.hero__submit-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.hero__submit-button:hover::after {
  background-color: rgb(255, 255, 255, 0.5);
}

.hero__alert-placeholder {
  height: rem(30);
}

.hero__alert {
  margin-left: rem(24);
  text-align: left;
  color: $soft-red;
}
