// Colors

/// Primary
$desaturated-red: rgb(206, 152, 152);
$soft-red: rgb(249, 98, 98);

/// Custom
$dark-red: rgb(210, 31, 31);

// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 73.75em // => 1180px
);
$breakpoints-down: (
  "tiny": 73.6875em // => 1179px
);
